:root,
input {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root,
  input {
    font-family: "Inter var", sans-serif;
    font-feature-settings: "ss02";
  }
}

/* Reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
}

picture {
  max-width: 100%;
}



/* General Styles */

body {
  max-width: 42em;
  margin: 0 auto;
  padding: 0 2rem;
  padding-bottom: 2rem;
  font-size: 1.2em;
  background-color: #FFF;
  /* background: url(background-typo.jpg);
  background-size: cover; */

  /* Grid Layout */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header  header"
    "form form"
    "img1  img2";
  gap: 2rem;
}


header {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  grid-column: 1 / -1;
  grid-area: header;
}

header h1 {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  font-size: 3em;
  font-weight: 600;
}

header h2 {
  font-size: 1em;
}

/* Le Formulaire */

.formulaire {
  grid-area: form;
}

.inf-form h4,
.inf-rgpd {
  color: #000;
}

.archive-envois,
.inf-main_2d9d746ed5f88a59e2ada7d9afd38bcf {
  background-color: #EEE;
  margin: 0;
}

/* temp */
.archive-envois{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
}

.inf-input input {
  font-size: 1em;
  border: 2px solid #CCC;
  border-radius: 4px;
}

/* Le Bouton */

.inf-main_2d9d746ed5f88a59e2ada7d9afd38bcf .inf-submit input {
  background: #CCC;
  border-radius: 20px;
  padding: 5px 1em;
  font-size: 1.5em;;
  color: #000;
}

.inf-main_2d9d746ed5f88a59e2ada7d9afd38bcf .inf-submit input:hover {
  background: #999;
  color: #fff;
  cursor: pointer;
}

/* Les images */

.class-portrait {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.class-portrait figcaption {

  background-color: #CCC;
  width: min(80%, 600px);
  font-size: 0.8em;
  padding: 1rem;
  transform: translate(20px, -50%);
}

.galerie {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem; */
}


.archive-envois {
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 1.5rem;
  list-style: none;
}

.archive-envois h2 {
  margin-top: 0;;
}

.archive-envois li {
  line-height: 2;
}

.archive-envois a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}



@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */



}